<!DOCTYPE html>
<html>
<head>
  <title>Pixelz</title>
  <%= stylesheet_link_tag    "pixelz/application", media: "all" %>
  <%= javascript_include_tag "pixelz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
